@import url(global.css);

@media (max-width: 768px) {
  .Atenção {
    font-size: 17px;
  }

  .logo_curcumy {
    width: 200px;
  }

  .h2_slider_alivio {
    font-size: 28px;
  }

  .img_aliviadores {
    width: 200px;
  }

  #h2_curcumy_aliviadores {
    font-size: 30px;
  }

  .p_curcumy_aliviadores {
    font-size: 16px;
  }

  .h2_naodeixe {
    font-size: 30px;
    text-align: center;
  }

  .imgpot2 {
    width: 400px;
  }

  .font_depoimentos {
    font-size: 20px;
  }

  .h2_vejaporque {
    font-size: 28px;
  }

  .p_vejaporque {
    text-align: center;
  }

  .h2_paraquem {
    text-align: center;
    font-size: 25px;
  }

  .p_paraquem {
    text-align: center;
  }

  .h2_naomaistempo {
    font-size: 28px;
  }

  .text_forcurcumy {
    font-size: 30px;
  }

  .h2_garantia {
    text-align: center;
    font-size: 30px;
  }

  .p_garantia {
    text-align: center;
  }

  .imgcomprasegura {
    width: 450px;
  }

  .button_compra {
    padding: 10px 30px;
  }

  .h2_NATURAL {
    font-size: 35px;
    text-align: center;
  }

  .p_NATURAL {
    font-size: 20px;
    text-align: center;
  }

  .h2_perguntas {
    font-size: 45px;
    padding-bottom: 15px;
  }
}
