@import url(colors.css);

/*HEADER */
.Atenção {
  padding: 10px 0;
  background-color: var(--color-backgroudmarrom);
  text-align: center;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bold;
  position: inherit;
  font-size: 20px;
}

/* Logo do Curcumy */
.logo_curcumy {
  width: 170px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

/* Alivio das Dores */
#slider {
  background-color: var(--color-backgroudcinza);
  background-size: contain;
  padding-bottom: 70px;
  padding-top: 70px;
}

.h2_slider_alivio {
  font-weight: bold;
  color: var(--color-fonte-marrom);
  padding-top: 35px;
  padding-bottom: 4px;
  font-size: 35px;
}

.list_color {
  color: var(--color-fonte-marrom);
  font-size: 26px;
}

.font_list_slider {
  font-size: 19px;
  font-weight: 500;
}

.button_slider_alivio {
  padding-top: 17px;
}

.imgalivio {
  width: 1000px;
  padding-top: 35px;
}

/* Curcumy Alivia */

#h2_curcumy_aliviadores {
  padding-top: 50px;
  font-size: 45px;
  color: var(--color-fonte-marrom);
  padding-bottom: 15px;
  font-weight: bold;
}

.p_curcumy_aliviadores {
  font-weight: bolder;
  color: #522a10;
  font-size: 20px;
  text-align: center;
}

.img_aliviadores {
  width: 200px;
}

.button_slider2_alivio {
  padding-top: 25px;
}

/* NAO DEIXEI */

#slider_naodeixe {
  padding-top: 115px;
  padding-bottom: 55px;
}

.riscolaranja {
  border: 0;
  height: 2px;
  background-image: var(--risco-laranja);
  margin-bottom: 27px;
}

.h2_naodeixe {
  padding-top: 80px;
  font-size: 35px;
  font-weight: bold;
  color: #522a10;
  padding-bottom: 25px;
}

.list_naodeixe {
  font-size: 25px;
  margin-top: -12px;
}

.font_list_naodeixe {
  font-size: 18px;
  font-weight: 300;
  color: var(-color-fonte-marrom);
}

#riscomarrom {
  margin-top: 2px;
  background-image: var(--risco-marrom);
  border: 0;
  height: 2px;
}

#sembordar {
  border-bottom: none;
}

.imgpot2 {
  width: 449px;
  padding-top: 80px;
  padding-bottom: 80px;
}

/*backoudmarrom */

.backgroudmarron {
  background-color: #522a10;
  padding-top: 30px;
  padding-bottom: 30px;
}

.font_depoimentos {
  color: white;
  text-align: center;
  padding-bottom: 12px;
  font-weight: bold;
}

.imgdepoimento {
  width: 300px;
}

.fontimg_depo {
  color: white;
  font-weight: bold;
  padding-top: 10px;
}

.pimg_depo {
  color: white;
  font-weight: 300;
}

.gridimgdepo {
  background-color: #8f4a1d;
  padding: 20px;
  margin: 24px;
}

/* vejaporque */

.padding_vejaporque {
  padding-top: 60px;
}

.h2_vejaporque {
  text-align: center;
  color: #522a10;
  padding-top: 55px;
  font-weight: bold;
  font-size: 45px;
}

.imgsub_vejaporqeu {
  width: 450px;
  padding-top: 25px;
}

.p_vejaporque {
  color: #522a10;
  padding-top: 60px;
  font-size: 25px;
  font-weight: 300;
}

.button_vejaporque {
  margin-top: 30px;
}

/*modouso*/

.tex_qualmodo {
  padding-top: 100px;
  text-align: center;
  color: #522a10;
  font-weight: bold;
  padding-bottom: 50px;
}

.imgmoduso {
  width: 200px;
}

.p_fontmodouso {
  text-align: center;
  padding-top: 20px;
}

.gridmodouso {
  box-shadow: 0px 0px 37px -25px rgb(43 15 0 / 75%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 20px 20px 20px;
}

.gridmodouso_2 {
  padding-bottom: 47px;
}

.gridmodouso_3 {
  padding-bottom: 73px;
}

.button_modouso {
  margin-top: 55px;
}

#button_gridmodouso {
  padding-bottom: 60px;
}

/* Paraquem */

.slider3_paraquem {
  background-color: #986c4f;
  padding-top: 55px;
}

.div_paraquem {
  padding-bottom: 12px;
}

.pot3img {
  width: 500px;
}

.h2_paraquem {
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.p_paraquem {
  font-size: 20px;
  color: white;
  font-weight: 300;
}

#pot3imgdiv {
  margin-top: -568px;
  margin-left: 355px;
  padding: 0;
}

.texth2_paraquem {
  color: white;
  margin-left: 850px;
}

.textp_paraquem {
  padding-top: 12px;
  color: white;
  margin-left: 850px;
  padding-bottom: 200px;
}

/*formulacurcumy */

.text_forcurcumydiv {
  padding-top: 30px;
  padding-bottom: 25px;
}

.text_forcurcumy {
  color: #522a10;
  text-align: center;
  font-weight: bold;
}

.imgsegredoformula {
  width: 100px;
  margin-left: 10px;
}

.text_formulaprincipal {
  font-size: 15px;
  padding-top: 12px;
  font-weight: bold;
  text-align: center;
}

.textp_formulaprincipal {
  text-align: center;
}

.slider_4_naomaistempo {
  background-color: #986c4f;
  padding-top: 25px;
}

/* nao maistempo */

.h2_naomaistempo {
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.p_naomaistempo {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.button_naomaistempo {
  padding-bottom: 49px;
}

/* Garantia */

.slider5_garantia {
  background-color: #f6efe5;
  padding-bottom: 25px;
}

.h2_garantia {
  font-size: 45px;
  font-weight: bold;
  color: #522a10;
  padding-top: 45px;
}

.p_garantia {
  font-size: 18px;
  color: #522a10;
  font-weight: 300;
}

.imggarantia {
  width: 450px;
  padding-top: 45px;
}

.button_garantia {
  padding-bottom: 26px;
}

/*Oferta*/

.h2_oferta {
  font-size: 45px;
  font-weight: bold;
  color: #522a10;
  padding-top: 45px;
  padding-bottom: 35px;
}

/*FRASCOS */
.imgfrascobuy {
  width: 250px;
}

.imgfrascobuy2 {
  width: 298px;
}

.imgfrascobuy1 {
  width: 120px;
}
.imgfrete {
  width: 110px;
  padding-bottom: 5px;
}

.imgcomprasegura {
  width: 450px;
  padding-bottom: 35px;
  padding-top: 20px;
}

.button_compra {
  background-color: transparent;
  background-image: linear-gradient(160deg, #1ea12f 0%, #1d8d2c 100%);
  border: none;
  font-size: 18px;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #023509;
  border-radius: 0px 0px 0px 0px;
  padding: 15px 40px;
  font-weight: bold;
  color: white;
}

.tratamento {
  background-color: transparent;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 200px;
  color: #e67e00;
  background-color: #f39a2e30;
  border-radius: 50px 50px 50px 50px;
  padding: 7px 10px 7px 10px;
  border: none;
  font-weight: bold;
}

.pgmaneto {
  height: 12px;
}

.h5_preco {
  color: orange;
  font-weight: bold;
  font-size: 35px;
}

.p_desconto {
  color: grey;
  font-weight: bold;
}

/* NATURAL */

.h2_NATURAL {
  color: #522a10;
  font-weight: bold;
  font-size: 45px;
}

.p_NATURAL {
  color: #522a10;
  font-weight: 500;
}

/* Perguntas */

.slider7_perguntas {
  background-color: #522a10;
  padding-bottom: 38px;
}

.h2_perguntas {
  color: white;
  text-align: left;
  padding-top: 55px;
  padding-bottom: 55px;
}

.textperguntas {
  color: #522a10;
  margin-left: 12px;
  margin-bottom: 0px;
  font-weight: bold;
}

.infopgzap {
  padding-top: 85px;
}

.h2_textfooot {
  color: white;
  font-size: 25px;
  padding-bottom: 12px;
}

.imgformapg {
  width: 241px;
}

.imgseguro {
  width: 241px;
}

.button_Rastrear {
  background-color: transparent;
  background-image: linear-gradient(160deg, #eea302 0%, #e7530e 100%);
  border: none;
  font-size: 18px;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #023509;
  border-radius: 0px 0px 0px 0px;
  padding: 15px 20px;
  font-weight: bold;
  color: white;
}

.button_WhatsApp {
  background-color: transparent;
  background-image: linear-gradient(160deg, #45dd59 0%, #148023 100%);
  border: none;
  font-size: 18px;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #023509;
  border-radius: 0px 0px 0px 0px;
  padding: 15px 40px;
  font-weight: bold;
  color: white;
}

.espaco_pg {
  padding-top: 28px;
}

.diretos {
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.h2diretos {
  font-size: 20px;
}
